Source: node-global-prefix
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , mocha <!nocheck>
 , node-ini <!nocheck>
 , node-kind-of <!nocheck>
 , node-which <!nocheck>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-global-prefix
Vcs-Git: https://salsa.debian.org/js-team/node-global-prefix.git
Homepage: https://github.com/jonschlinkert/global-prefix
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-global-prefix
Architecture: all
Depends: ${misc:Depends}
 , node-ini
 , node-kind-of
 , node-which
Provides: ${nodejs:Provides}
Description: get the npm global path prefix
 Node.js is an event-based server-side JavaScript engine.
